*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #141414;
    --sec-bg: rgba(8, 8, 8, 0.438);
    --white: #fff;
    --black: #333;
    --text-faint: #eeeeeeab;

    --app-width: 900px;
    --utils-height: 10vh;

    --animal-height:60px;
    --animal-width:60px;
    --animal-img-size:35px;

    --font-bold:700;
    --font-medium:600;
}

body{
    background-color: var(--bg);
    color: var(--white);
}

/* general styles */
.btn{
    display: block;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: var(--black);
    background-color: var(--white);
    width: min(95%, 250px);
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: border-color 0.25s;
}
/* -------- */

.app{
    width: min(95%, var(--app-width));
    height: 100vh;
    margin: auto;
}

/* INTRO ****************************************************/
.intro{
    margin-top: 5vh;
    margin-bottom: 50px;
    padding: 50px 10px;
    background-color: var(--sec-bg);
    border-radius: 10px;    
}

.intro-title{
    font-size: 2.7rem;
    text-align: center;
    font-weight: var(--font-bold);
}

.intro-text{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: var(--text-faint);
}

.instructions{
    margin: 4.5rem 0;
}

.ins-title{
    font-size: 1.2rem;
    font-weight: var(--font-medium);
    text-decoration: underline;
}

.ins-lists{
    margin-top: 1rem;
    padding: 0 20px;
}

.ins-lists > li{
    margin: 10px 0;
    line-height: 1.5;
    color: var(--text-faint);
}

.intro-btn{
    margin: 0 auto;
}

/*  ****************************************************/


/* READY ****************************************************/
.ready{
    margin-top: 5vh;
    margin-bottom: 50px;
    padding: 50px 10px;
    background-color: var(--sec-bg);
    border-radius: 10px;
    text-align: center;
}

.ready > p{
    margin: 20px 0;
}

.ready-title{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: var(--text-faint);
}

.ready-count{
    font-size: 2.7rem;
    font-weight: var(--font-bold);
}

.ready-text{
    color: var(--text-faint);
}

.ready-animal{
    width: var(--animal-width);
    height: var(--animal-height);
}

/* ********************************************************** */


/* PLAYGROUND *************************************************/
.playground{
    height: 100%;
    background-color: var(--sec-bg);
    border: 1px solid rgb(143, 143, 143);
}

.utils{
    height: var(--utils-height);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(143, 143, 143, 0.233);
    border: 1px solid rgb(143, 143, 143);
}

.time{margin-bottom: 5px;}
#time,#score{font-weight: 700;}

.animal-select{
    width: 40px;
    height: 40px;
}

.platform{
    position: relative;
    height: calc(100% - var(--utils-height));
    width: 100%;
    background-color: var(--sec-bg);
}

.animal{
    width: var(--animal-width);
    height: var(--animal-height);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 10;
    user-select: none;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(180, 180, 180, 0.199);
}

.animal-img{
    width: var(--animal-img-size);
    height: var(--animal-img-size);
    user-select: none;
}

/* *****************************************************/


/* END **************************************************/
.game-end{
    margin-top: 5vh;
    background-color: var(--sec-bg);
    padding: 50px 10px;
    border-radius: 10px;
}

.g-e-title{
    font-size: 2.7rem;
    text-align: center;
    font-weight: var(--font-bold);
}

.g-e-text{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: var(--text-faint);
}

.g-e-btns{
    margin: 4.5rem 0;
}

.g-e-btns > button{
    margin: 15px auto;
}

/* **************************************************/

