*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #141414;
    --sec-bg: rgba(8, 8, 8, 0.438);
    --white: #fff;
    --black: #333;

    --app-width: 900px;
    --utils-height: 10vh;

    --animal-height:60px;
    --animal-width:60px;
    --animal-img-size:35px
}

body{
    background-color: var(--bg);
    color: var(--white);
}

/* general styles */
.btn{
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: border-color 0.25s;
}
/* -------- */

.app{
    width: min(95%, var(--app-width));
    height: 100vh;
    margin: auto;
}

.UI-view{
    margin-top: 15vh;
    padding: 50px 10px;
    text-align: center;
    background-color: var(--sec-bg);
    border-radius: 10px;
}

.UI-title{
    font-size: 3rem;
}

.UI-text{
    margin: 20px 0;
    font-weight: 300;
}

/* Playground Styles */
.playground{
    height: 100%;
    background-color: var(--sec-bg);
    border: 1px solid rgb(143, 143, 143);
}

.utils{
    height: var(--utils-height);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(143, 143, 143, 0.233);
    border: 1px solid rgb(143, 143, 143);
}

.time{margin-bottom: 5px;}
#time,#score{font-weight: 700;}

.animal-select{
    width: 40px;
    height: 40px;
}

.platform{
    position: relative;
    height: calc(100% - var(--utils-height));
    width: 100%;
    background-color: var(--sec-bg);
}

.animal{
    width: var(--animal-width);
    height: var(--animal-height);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 10;
    user-select: none;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(180, 180, 180, 0.199);
}

.animal-img{
    width: var(--animal-img-size);
    height: var(--animal-img-size);
    user-select: none;
}

/* ---------------- */